assert/1/range.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="range">
        <xs:complexType>
            <xs:attribute name="min" type="xs:double" use="required"/>
            <xs:attribute name="max" type="xs:double" use="required"/>
            <xs:assert test="@min le @max"/>
        </xs:complexType>
    </xs:element>

</xs:schema>